body  { width:860px; background-color: aqua;}
header { width:858px; height: 80px; text-align:center }

nav { height : 500px; width:200px; float:left;  }
nav p { padding:5px; margin:0 }

section { display:block; float:left; height:500px; width:656px; color:navy; }
section header { font-weight: bold;  text-align:center; width:656px; height:20px; }

footer { clear:both; text-align:center; color:blue }

dt { font-weight: bold; }
dd { font-style: italic; }
#kolejny{
    display:none;
}
#id{
    display: none;
}
#ocena_div{
    display: none;
}
#szukaj{
    display: block;
}
